version: '3.8'
services:
  app:
    image: 557690603016.dkr.ecr.ap-south-1.amazonaws.com/ghactions-nodeapp-ecr:latest
    build: .
    ports:
      - "80:80"
    environment:
      NODE_ENV: production
    restart: unless-stopped
